/*{ border: 1px solid black; } */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9F8F7;
}

/* ----------------------------*/
/* -----------Fonts------------*/
/* ----------------------------*/


h1, h2, h3, h4, h5 {
    color: #56595C;
}

h1 {
    font-weight: 700;
    font-size: 4.3rem;
}

h2 {
    font-weight: 700;
    font-size: 2.8rem;
}

h3 {
    font-weight: 700;
    font-size: 2.2rem;
}

h4 {
    font-weight: 500;
    font-size: 1rem;
}

p {
    color: #6E7272;
    font-size: 1.1rem;
}

.jumbotron p{
    font-size: 1.5rem;
   /* margin-top: 1.5rem; */
}


   /*
.crypto p, .it-services p {
    font-size: 1.2rem;
}

*/

.introduction p{
    font-size: 1.3rem;
}


.p-bold-sm {
    color: #54575a;
    font-weight: 500;
    font-size: 1.3rem;
}

.card-clear p, .it-main p, .contact-header p {
    font-size: 1.3rem;
}

footer p {
    font-weight: 500;
}

/* ----------------------------*/
/* ---------Navigation---------*/
/* ----------------------------*/


a {
    color: #5c5f63;
    font-weight: 600;
}

a:hover {
    color: #3b3e40;
}


.nav-logo {                               /* To change the size of the logo*/
    max-height: 35px;
    padding: 0;
}

.navbar {                                               /* To change navbar colour and make it a little transparent*/
    background-color:#fff;
}

.navbar-nav > li{                          /* To add more white space on the left and right of the links in the navbar*/
    padding-left:15px;
    padding-right:15px;
}

.navbar-toggler, .dropdown-menu {                          /* To turn off the navbar-toggler border (hamburger icon on smartphones) */
    border: none;
    outline: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #5c5f63;
    font-weight: 600;
}

.navbar-light .navbar-nav .white-link {
    color: #fff;
}

.navbar-light .navbar-nav .white-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .white-link:focus {
    color: #fff;
}


/* ----------------------------*/
/* -----------Scroll-----------*/
/* ----------------------------*/

/* To add padding to top of screen so when you click the navigation links, the navigation bar won't block the top section off*/
#crypto::before,
#it::before,
#contact::before { 
    display: block; 
    content: " "; 
    margin-top: -130px; 
    height: 130px; 
    visibility: hidden; 
    pointer-events: none;
}

/* ----------------------------*/
/* ---------Jumbotron----------*/
/* ----------------------------*/
/*
.jumbotron {
    background-image: url('../images/jumbotron/hero-image-01.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 20%;
    padding-bottom: 20%;
}*/
/*
.short-margin {                             To add more space on right side of hero text
    padding-right: 650px;
}*/

.jumbotron {
    background-color: #F9F8F7;
    margin-bottom: 0;
    border-radius: 0;
}
/* ----------------------------*/
/* -------Introduction---------*/
/* ----------------------------*/




/* ----------------------------*/
/* ----------Cards-------------*/
/* ----------------------------*/

.card {
    border: none;
    outline: none;
    border-radius: 15px;
}

.card-columns {  
    column-gap: 30px;                   /*To make vertical gap between the card columns wider*/
}

.card-columns .card {                   /*To make horizontal gap between the card columns wider*/
    margin-bottom: 30px;
}

.card-body {
    padding: 0rem;
}

.card-grey {
    border-radius: 15px;
    padding: 3rem;
    background-color:#EEEDEA;                      /* eedbd7; yellow:#ffedb2   blue:#C1D0EE   green:b5d4cc  */
}


.card-clear {
    background-color: rgba(250, 235, 215, 0);
}

/* ----------------------------*/
/* ----------Crypto------------*/
/* ----------------------------*/



/* ----------------------------*/
/* -------IT Services----------*/
/* ----------------------------*/

.it-consulting {
    padding: 2rem;
    background-color: #EEEDEA; /*#E6E5E5 dfe6fe*/
    border-radius: 15px;
}

.it-services {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.it-services .row {                             /*There was no padding for the it services cards so the card would go directly to the screen edge. I played around in the developer tools and found out the combination of padding and margin. */
    margin-right: 0;
    margin-left: 0;
}

.it-services .col-lg-9 {                       /*There was no padding for the it services cards so the card would go directly to the screen edge. I played around in the developer tools and found out the combination of padding and margin. */
    padding-right: 0;
    padding-left: 0;
}

/* ----------------------------*/
/* -----Customer Support-------*/
/* ----------------------------*/


/*Mobile and up to laptop margintop and bottom */
.introduction, .crypto, .customer, .safety, .contact, .clients { 
    margin-top: 8.6rem;
    margin-bottom: 8.6rem;
}


/* ----------------------------*/
/* ---------Clients------------*/
/* ----------------------------*/




/* ----------------------------*/
/* ----------Contact-----------*/
/* ----------------------------*/

.form-control, .custom-select {
    border-radius: 2rem;
    height: 3.5rem;
    padding: .75rem 1.5rem;
}

/* ----------------------------*/
/* ----------Buttons-----------*/
/* ----------------------------*/

/* ----------Primary Button (jumbotron button)-----------*/

.btn-primary {
    border-radius: 30px;                    /* to form a "pill" shape from btn-primary */
    background-color: #f6be00; 
    border-color: #f6be00;
    color: #fff;
    margin-top: 10px;                       /* to add a margin on top of button*/
    font-weight: 500;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    border-color: #d4a400;                /* colour going down increments of two*/
    background-color: #d4a400;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.btn.btn-primary:active:hover {
    border-color: #b28a00;
    background-color: #b28a00;
    color: #fff;
    outline: none;
    box-shadow: none;
}

/* ----------Secondary Button (navigation button)-----------*/

.btn-secondary {
    border-radius: 23px;                    /* to form a "pill" shape from btn-secondary, changed colors down in increments of 2 */
    background-color: #f6be00;
    border-color: #f6be00;
    color: #fff;
    min-width: 100px;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
    border-color: #d4a400;
    background-color: #d4a400;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.btn.btn-secondary:active:hover {
    border-color: #b28a00;
    background-color: #b28a00;
    color: #fff;
    outline: none;
    box-shadow: none;
}

/* ----------Submit Button-----------*/

.btn-light {
    border-radius: 23px;                    /* to form a "pill" shape from btn-secondary, changed colors down in increments of 2 */
    background-color: #184cf9;
    border-color: #184cf9;
    color: #fff;
    min-width: 100px;
    height: 3.5rem;
}

.btn.btn-light:hover,
.btn.btn-light:focus {
    border-color: #063ae9;
    background-color: #063ae9;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.btn.btn-light:active:hover {
    border-color: #0532c8;
    background-color: #0532c8;
    color: #fff;
    outline: none;
    box-shadow: none;
}


/* ----------------------------*/
/* -------Media Queries--------*/
/* ----------------------------*/


/* max-width: 768px = up to tablet screen size (aka phone screen size). I cut all the desktop px in half, eg: margin-bottom: 60px on desktop, margin-bottom: 30px on tablet and under*/
@media (max-width: 767.98px) {
    .card-columns {
        column-count: 1;
      }

    .clients .fixed-width {
        height: auto;
        max-width: 150px;
    
    }

    /* font size originally 3.8rem i went down a whole number and made it 2.8rem*/
    h1 {
        font-weight: 700;
        font-size: 2.1rem;
    }
    
    h2 {
        font-weight: 700;
        font-size: 1.8rem;
    }
    
    h3 {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .jumbotron p {
        font-size: 1rem;
        margin-top: 1rem;
    }
    
    .introduction p, .crypto p, .it-main p, .it-services p, .customer p, .safety p, .contact p {
        font-size: 1rem;
    }

    .jumbotron p, .contact p, .it-main p, .customer p, .safety p {
        padding-left: 2rem;
        padding-right:2rem;
    }
    
    .intro-text p {
        padding-right: 50px;
    }
    
    .p-bold-sm {
        color: #54575a;
        font-weight: 500;
        font-size: 1rem;
    }

    .card-clear p {
        padding: 0 2rem;
    }

    .jumbotron {
        padding-top: 4rem;
    }

    /*to make padding around card smaller for phones*/
    .card-grey {
        padding: 2rem;
    }

    .btn-group-lg>.btn, .btn-lg {
        font-size: 1rem;
    }
    
    
}



/* min-width: 992px = desktops, 992px and up*/
@media (min-width: 992px) {

.card-columns {
      column-count: 2;
    }

.shrink-padding {                       /* To reduce the width of the text on the right side in the concepts section on desktop*/
    padding-right: 15%;
    }

.shrink-padding-l {
    padding-left: 15%;
}

 /* To create a smaller width than the original "container" from bootstrap only on desktop*/

.small-container {                 
        max-width: 1000px;
    }

.smaller-container {
    max-width: 800px;
}

.jumbotron p {
    padding-right: 150px;
}


.card-columns .card-clear {         /* To add a margin on the bottom of the card-clear AKA the title of the crypto*/
    margin-bottom: 80px;
}

.contact-form {
    padding-left: 100px;
}

.padded-text {
    padding-right: 9rem;
}

.contact-header {
    margin-bottom: 1.5rem;

}

.btn-primary {
    padding: .7rem 2.3rem;          /* To add padding on the "contact us" button on jumbotron*/
}

.introduction p {
    padding-right: 7rem;
    line-height: 2rem;
}

.card-clear p {
    padding-right: 13rem;
}

 /* To add hover over dropdown menu*/
/*
.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .nav-link{   }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }
*/

}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {          

    .card-columns {                 
        column-count: 1;
    }

    .both-padded-text {
        padding: 0 6rem;
    }
    
}

@media (max-width: 991.98px) {
    .intro-phone-margin {
        margin-bottom: 40px;
    }

    .hero-image {
        margin-top: 40px;
    }

    .customer .fixed-width,
    .safety .fixed-width {     /* To make the images in "Customer" and "Safety" section not responsive and fixed width instead, so when you shrink the browser, the image doesn't scale up*/
        height: auto;
        max-width: 280px;      /* 335px is the exact size of the responsive image on the website using developer tools*/
    }

    .it-consulting .fixed-width,
    .contact .fixed-width {     /* To make the images in "IT" section not responsive and fixed width instead, so when you shrink the browser, the image doesn't scale up*/
        height: auto;
        max-width: 380px;
    }

    .crypto .fixed-width {
        height: auto;
        max-width: 360px;
    }
}

@media (min-width: 768px) {
    .introduction, .crypto, .customer, .safety, .contact {
        margin-top:210px;
        margin-bottom: 210px;
    }
    
    .clients {
        margin-top: 350px;
        margin-bottom: 370px;
    }

    .navbar {   
        padding: 1rem 1rem;                        /* To add padding on top and bottom, left and right of navbar*/
    }
        
}